In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("data/Crop_Dataset.csv")

In [3]:
df

,N,P,K,temperature,humidity,ph,rainfall,Total_Nutrients,Temperature_Humidity,Log_Rainfall,Label,Label_Encoded
0,90,42,43,20.879744,82.002744,6.502985,202.935536,175,1712.196283,5.317804,wheat,0
1,85,58,41,21.770462,80.319644,7.038096,226.655537,184,1748.595734,5.427834,wheat,0
2,60,55,44,23.004459,82.320763,7.840207,263.964248,159,1893.744627,5.579595,wheat,0
3,74,35,40,26.491096,80.158363,6.980401,242.864034,149,2123.482908,5.496611,wheat,0
4,78,42,42,20.130175,81.604873,7.628473,262.717340,162,1642.720357,5.574878,wheat,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2195,107,34,32,26.774637,66.413269,6.780064,177.774507,173,1778.191164,5.186125,tomatoes,21
2196,99,15,27,27.417112,56.636362,6.086922,127.924610,141,1552.805515,4.859228,tomatoes,21
2197,118,33,30,24.131797,67.225123,6.362608,173.322839,181,1622.263022,5.160909,tomatoes,21
2198,117,32,34,26.272418,52.127394,6.758793,127.175293,183,1369.512711,4.853399,tomatoes,21
2199,104,18,30,23.603016,60.396475,6.779833,140.937041,152,1425.538942,4.955384,tomatoes,21